header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
    padding-left: 40px;
    padding-right: 40px;
}

.header-logo {
    max-height: 80%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12%;
    margin-top: 28px;
}

.green-letter {
    color: var(--color-secondary) !important;
}

/* RESPONSIVE DESIGN */

@media (max-width: 500px) {
    header {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 28px;

        span {
            max-width: 53%;
            text-align: right;
            margin-top: 24px;
        }
    }
}

@media (max-width: 350px) {
    header span {
        max-width: 65%;
        margin-top: 24px;
    }
}

/* iPad Pro */
@media (min-width: 1000px) and (max-width: 1024px) and (min-height: 1024px) {
    header span {
        font-size: 56px;
        margin-top: 40px;
    }
    .header-logo {
        max-height: 150%;
        margin-top: 100px;
    }
}
