<!-- <header [class.header-dark]="darkMode"> -->
<header>
    <img routerLink="/" class="header-logo" src="assets/img/letter_p.png" alt="letter-p">
    <span>
        <span class="green-letter">P</span>AUL ENGERLIN<span class="green-letter">G</span>
    </span>
    <!--  <div class="header-links">
        <a href="#">About Me</a>
        <a href="#">IT Skills</a>
        <a href="#">Projects</a>
        <a href="#">Contact</a>
        <a routerLink="/legal_notice">Legal Notice</a>
    </div> -->
</header>