<footer>
    <div class="social-media-icons">
        <a href="#">
            <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
        <a href="https://github.com/paul-E404" target="_blank">
            <fa-icon [icon]="faGithub" style="margin-left: 8px"></fa-icon>
        </a>
    </div>
    <div class="footer-links">
        <a (click)="onOpenLegalNotice()">Legal Notice</a>
        <a (click)="onOpenDataProtection()">Data Protection</a>
    </div>
    <span>© 2021 Paul Engerling</span>
</footer>
