<section id="about-me">

    <div class="section-heading">
        <h2>ABOUT ME</h2>
    </div>

    <div class="section-content">
        <div *ngFor="let aboutMeBox of aboutMeImageSources; let i = index" class="about-me-box">
            <img animateOnScroll animationName="fadeInSlideDown" src="assets/img/{{ aboutMeImageSources[i] }}" alt="">
            <div animateOnScroll animationName="fadeInSlideUp" class="about-me-text-box">
                <div>{{ aboutMeTexts[i] }}</div>
            </div>
        </div>
    </div>

</section>