.about-me-box {
    height: 600px;
    width: 300px;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;

    img {
        height: 50%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}

.about-me-text-box {
    height: 50%;
    border: 3px solid var(--color-primary);
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 48px;
    background-color: rgba(10, 22, 65, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        font-size: var(--main-font-size);
        padding: 40px;
        text-align: center;
    }
}
