.about-me-box {
    height: 600px;
    width: 300px;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;

    img {
        height: 50%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
        opacity: 0;
        transform: translateY(-50px);
    }
}

.about-me-text-box {
    height: 50%;
    border: 3px solid var(--color-primary);
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 48px;
    background-color: rgba(10, 22, 65, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(50px);

    div {
        font-size: var(--main-font-size);
        padding: 40px;
        text-align: center;
    }
}

/* RESPONSIVE DESIGN */

@media (min-width: 700px) and (max-width: 1200px) {
    .section-content {
        flex-direction: column;
    }
    .about-me-box {
        display: flex;
        height: 300px;
        width: 600px;
        margin-bottom: 48px;

        img {
            height: 100%;
            width: 50%;
            transform: translateX(-100px) translateY(0);
        }
    }

    .about-me-text-box {
        height: 100%;
        width: 50%;
        left: unset;
        bottom: unset;
        right: 48px;
        transform: translateX(100px) translateY(0);
    }
}

@media (max-width: 500px) {
    .about-me-box {
        height: 500px;
        width: 250px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .about-me-text-box div {
        padding: 20px;
    }
}
