<div class="navbar" [class.navbar-enlarged]="!navbarFolded">
    <div>P@UL ENGERLING</div>
    <div class="navbar-links-container">
        <a (click)="onClick('home')">Home</a>
        <a (click)="onClick('about-me')">About Me</a>
        <a (click)="onClick('skills')">IT Skills</a>
        <a (click)="onClick('projects')">Projects</a>
        <a (click)="onClick('contact')">Contact</a>
    </div>
    <fa-icon (click)="toggleNavbar()" [icon]="faElementor" class="navbar-toggle-btn"></fa-icon>
</div>