.navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 4px solid rgb(173, 255, 47);
    position: sticky;
    top: 0;
    background-color: var(--bg-color-primary);
    z-index: 10;

    div {
        font-size: 24px;
        color: var(--color-primary);
        margin-left: 16px;
    }
}

.navbar-links-container {
    margin-right: 32px;

    a {
        font-size: 24px;
        margin-left: 24px;
    }
}