.slideshow-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.slideshow-img {
    position: absolute;
    display: none;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    /* animation: zoomIn 10s ease-in infinite;
    animation-fill-mode: forwards; */
}

.animate-img {
    display: unset !important;
    animation: zoomIn 10s ease-in infinite;
    animation-fill-mode: forwards;
}

.slideshow-overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(46, 67, 114, 0.5), rgba(0, 31, 99, 0.5), rgba(85, 43, 114, 0.5));
    /* background: linear-gradient(rgba(46, 67, 114, 0.5), rgba(0, 31, 99, 0.5), rgba(114, 83, 43, 0.5)); */
    display: flex;
    align-items: center;
}

.slogan-box {
    margin-left: 120px;
    border-left: 6px solid rgb(175, 11, 11);
    display: flex;
    align-items: center;

    p {
        color: white;
        font-size: 56px;
        padding-left: 24px;
        max-width: 600px;
        margin: 0;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    8% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1.8);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* RESPONSIVE DESIGN */

@media (max-width: 1400px) {
    .slogan-box p {
        font-size: 44px;
        max-width: 500px;
    }
}

@media (max-width: 1100px) {
    .slogan-box {
        margin-left: 80px;
    }
    .slogan-box p {
        font-size: 40px;
        max-width: 400px;
    }
}

@media (max-width: 1000px) {
    .slogan-box p {
        font-size: 36px;
        max-width: 300px;
    }
}

@media (max-width: 900px) {
    .slideshow-overlay {
        align-items: flex-start;
        padding-top: 30%;
    }
}

@media (max-width: 800px) {
    .slogan-box {
        margin-left: 50px;
    }
    .slogan-box p {
        font-size: 32px;
        padding-left: 20px;
    }
}

@media (max-width: 700px) {
    .slideshow-overlay {
        padding-top: 40%;
    }
    .slogan-box p {
        padding-left: 16px;
    }
}