.project-box {
        height: 600px;
        width: 300px;
        margin-left: 40px;
        margin-right: 40px;
    
        img {
            height: 50%;
            width: 100%;
            object-fit: cover;
        }
}

.project-image-box {
    height: 50%;
    width: 100%;

    img {
        height: 100%;
        object-fit: contain;
    }
}

.project-text-box {
    height: 50%;
    border: 3px solid rgb(255, 208, 0);
    background-color: rgba(10, 22, 65, 0.5);
    display: flex;
    flex-direction: column;

    div {
        font-size: var(--main-font-size);
        padding: 20px;
    }
}
