<section id="projects" class="section">

    <div class="section-heading">
        <h2>MY RECENT PROJECTS</h2>
    </div>

    <div class="section-content">
        <div *ngFor="let project of projects; let i = index" class="project-box">
            <a href="{{ projects[i].href }}" target="_blank">

                <!-- Animations window.innerWidth > 1200px -->
                <div *ngIf="!globals.middleScreenWidthReached" animateOnScroll animationName="fadeInSlideDown"
                    class="project-image-box">
                    <img src="assets/img/{{ projects[i].imageSrc }}">
                    <div animateOnScroll animationName="rotateAndSlideRight" class="circle-project-title">
                        <span>{{ projects[i].title }}</span>
                    </div>
                </div>

                <!-- Animations window.innerWidth <= 1200px -->
                <div *ngIf="globals.middleScreenWidthReached" animateOnScroll animationName="fadeInSlideLeft"
                    class="project-image-box">
                    <img src="assets/img/{{ projects[i].imageSrc }}">
                    <div animateOnScroll animationName="rotateAndSlideRight" class="circle-project-title">
                        <span>{{ projects[i].title }}</span>
                    </div>
                </div>
            </a>

            <!-- Animations window.innerWidth > 1200px -->
            <div *ngIf="!globals.middleScreenWidthReached" animateOnScroll animationName="fadeInSlideUp"
                class="project-text-box">
                <div class="project-description">{{ projects[i].description }}</div>
                <div class="project-techniques">
                    <span>Used techniques:</span><br>&middot;
                    <span *ngFor="let technique of projects[i].techniques; let j = index">{{ projects[i].techniques[j]
                        }} &middot; </span>
                </div>
                <div class="project-documentation">
                    <a href="{{ projects[i].href }}" target="_blank"><button class="doc-btn">Start Project</button></a>
                    <a href="{{ projects[i].docSrc }}" target="_blank"><button class="doc-btn">{{ projects[i].docType }}</button></a>
                </div>
            </div>

            <!-- Animations window.innerWidth <= 1200px -->
            <div *ngIf="globals.middleScreenWidthReached" animateOnScroll animationName="fadeInSlideRight"
                class="project-text-box">
                <div class="project-description">{{ projects[i].description }}</div>
                <div class="project-techniques">
                    <span>Used techniques:</span><br>&middot;
                    <span *ngFor="let technique of projects[i].techniques; let j = index">{{ projects[i].techniques[j]
                        }} &middot; </span>
                </div>
                <div class="project-documentation">
                    <a href="{{ projects[i].href }}" target="_blank"><button class="doc-btn">Start Project</button></a>
                    <a href="{{ projects[i].docSrc }}" target="_blank"><button class="doc-btn">{{ projects[i].docType }}</button></a>
                </div>
            </div>
            
        </div>
    </div>

</section>