<section id="contact" class="section">

    <div class="contact-bg-image"></div>
    <div class="contact-bg-layer"></div>

    <div class="section-heading">
        <h2>CONTACT</h2>
    </div>

    <div class="section-content">
        <h3>Want to get in touch or work together? Send an <a href="mailto:{{email}}" class="email-link">email</a> or use the following contact form.</h3>
        <!-- <span>{{ singleMessage | json }}</span> -->
        <div animateOnScroll animationName="contactFormZoomIn" class="contact-form-container">
            <div [hidden]="submitted">
                <form (ngSubmit)="onSubmit(myForm)" ngNativeValidate #myForm="ngForm">
                    <label for="name"></label>
                    <input [(ngModel)]="singleMessage.name" id="name" name="name" type="text" placeholder="your name"
                        required>
                    <label for="email"></label>
                    <input [(ngModel)]="singleMessage.email" id="email" name="email" type="email"
                        placeholder="your email" required>
                    <label for="subject"></label>
                    <input [(ngModel)]="singleMessage.subject" id="subject" name="subject" type="text"
                        placeholder="subject" required>
                    <label for="message"></label>
                    <textarea [(ngModel)]="singleMessage.message" id="message" name="message" cols="30" rows="10"
                        placeholder="your message" required></textarea>
                    <button type="submit">SEND EMAIL</button>
                </form>
            </div>
            <div [hidden]="!submitted">
                <div class="message-sent-info">Your message was succesfully sent.<br>I will respond as soon as possible.<br>Thank you very much!</div>
            </div>
        </div>
    </div>

</section>