<section>

    <div class="contact-bg-image"></div>
    <div class="contact-bg-layer"></div>

    <div class="section-heading">
        <h2>CONTACT</h2>
    </div>

    <div class="section-content">
        <h3>Want to get in touch or work together?</h3>
        <div class="contact-form-container">
            <form action="">
                <label for="name"></label>
                <input id="name" type="text" placeholder="your name" required>
                <label for="email"></label>
                <input id="email" type="email" placeholder="your email" required>
                <label for="subject"></label>
                <input id="subject" type="text" placeholder="subject" required>
                <label for="message"></label>
                <textarea id="message" cols="30" rows="10" placeholder="your message" required></textarea>
                <button>SEND EMAIL</button>
            </form>
        </div>
    </div>

</section>
