<section id="skills" class="section bg-2">

    <div class="section-heading">
        <h2>IT SKILLS</h2>
    </div>

    <div class="section-content">
        <div animateOnScroll animationName="fadeInSlideUp" class="skills-box">
            <div class="skills-box-content">
                <table>
                    <tbody>
                        <tr *ngFor="let skillName of skillsNames; let i = index">
                            <td>{{ skillName }}</td>
                            <td>
                                <div class="skill-bar-max">
                                    <div [ngStyle]="setBarWidth(i)" class="skill-bar-value">
                                        <div animateOnScroll animationName="fillSkillBar" class="growing-skill-bar">
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Animations window.innerWidth > 1200px -->
        <div *ngIf="!globals.middleScreenWidthReached" animateOnScroll animationName="fadeInSlideLeft"
            class="triangle-container">

            <div class="triangle">
            </div>

            <div class="triangle-text">
                Started as a totally coding beginner, I became part of the <b>Developer Academy</b> and its online
                coaching in the middle of <b>January 2021</b>. In 4 months of full time and from then in part-time beside my
                main job in the gastronomy, I took part in <b>several projects based on HTML, CSS, Javascript and Angular</b>.
                Together with the Developer Academy Community and its coaches, I got the
                chance to learn to code and — in particular — learn to love coding!
                <b>From September 2021</b> I am looking for a <b>Javascript Frontend Developer</b> job — maybe in your company? Do not
                hesitate to contact me!
            </div>

            <div class="triangle-image-box">
                <img src="assets/img/skills_image.jpg" alt="skills-background-pic">
            </div>

        </div>

        <!-- Animations window.innerWidth <= 1200px -->
        <div *ngIf="globals.middleScreenWidthReached" animateOnScroll animationName="fadeInSlideDown"
            class="triangle-container">
            
            <div class="triangle">
            </div>

            <div class="triangle-text">
                Started as a totally coding beginner, I became part of the <b>Developer Academy</b> and its online
                coaching in the middle of <b>January 2021</b>. In 4 months of full time and from then in part-time beside my
                main job in the gastronomy, I took part in <b>several projects based on HTML, CSS, Javascript and Angular</b>.
                Together with the Developer Academy Community and its coaches, I got the
                chance to learn to code and — in particular — learn to love coding!
                <b>From September 2021</b> I am looking for a <b>Javascript Frontend Developer</b> job — maybe in your company? Do not
                hesitate to contact me!
            </div>

            <div class="triangle-image-box">
                <img src="assets/img/skills_image.jpg" alt="skills-background-pic">
            </div>
            
        </div>


    </div>
</section>

<!-- TODO: Mit For-Schleife Einträge anzeigen, Daten im Array in der .ts speichern. Alles animieren. -->