<section class="bg-2">

    <div class="section-heading">
        <h2>IT SKILLS</h2>
    </div>

    <div class="section-content">
        <div class="skills-box">
            <div class="skills-box-content">
                <table>
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="triangle">
            <div class="triangle-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore voluptates sed nostrum harum ipsam. Commodi quam veniam voluptatibus, voluptatum exercitationem repudiandae rerum modi aperiam odit corrupti ipsa quod, qui iure?
            </div>
        </div>
        <div class="skills-image-box">
            <img src="/../assets/img/water.jpg" alt="water">
        </div>
    </div>
</section>