$skills-section-padding: 32px;

h2 {
    margin-bottom: 32px !important;
}

.skills-box {
    width: 500px;
    background-image: url(../../assets/img/skills_image.jpg);
    border-radius: 12px;
    margin-right: 40px;
    margin-left: -20px;
    border: 3px solid var(--bg-color-primary);
    opacity: 0;
    transform: translateY(-50px);

    .skills-box-content {
        height: 100%;
        width: 100%;
        border-radius: 12px;
        margin: 20px;
        background-color: var(--bg-color-primary);
        border: 3px solid var(--color-primary);

        table {
            height: 100%;
            padding: $skills-section-padding;

            tr {
                height: 52px;
            }

            td:first-child {
                padding-right: 24px;
            }

            td:nth-child(2) {
                width: 100%;
            }
        }
    }
}

.skill-bar-max {
    height: 6px;
    width: 100%;
    background-color: rgb(69, 77, 97);
}

.skill-bar-value {
    height: 6px;
}

.growing-skill-bar {
    height: 6px;
    background-color: var(--color-secondary);
    width: 0;
    z-index: 10;
}

.triangle-container {
    height: 600px;
    width: 530px;
    display: flex;
    opacity: 0;
    transform: translateX(100px);
}

.triangle {
    border-style: solid;
    border-width: 300px 150px 300px 0;
    border-color: transparent var(--bg-color-primary) transparent transparent;
}

.triangle-text {
    width: 320px;
    background-color: var(--bg-color-primary);
    padding: $skills-section-padding;
    text-align: justify;
    overflow: auto;
}

.triangle-image-box {
    width: 30px;
    overflow: hidden;
    border-top: 3px solid var(--bg-color-primary);
    border-right: 3px solid var(--bg-color-primary);
    border-bottom: 3px solid var(--bg-color-primary);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

    img {
        width: 100%;
        height: 700px;
        object-fit: cover;
        object-position: right;
    }
}

/* ANIMATIONS AND KEYFRAMES */

.fillSkillBar {
    animation: fillSkillBar 2s ease-in-out forwards;
}

@keyframes fillSkillBar {
    0% {
        width: 0;
    }
    40% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* RESPONSIVE DESIGN */

@media (max-width: 1200px) {
    .section-content {
        flex-direction: column;
    }
    .skills-box {
        order: 2;
        margin-right: unset;
    }
    .triangle-container {
        order: 1;
        height: unset;
        width: 550px;
        flex-direction: column-reverse;
        transform: translateX(0) translateY(-50px);
        margin-bottom: 16px;
    }
    .triangle {
        border-width: 100px 275px 0 275px;
        border-color: var(--bg-color-primary) transparent transparent transparent;
    }
    .triangle-text {
        width: unset;
    }
    .triangle-image-box {
        width: calc(100% - 6px); //Full width of parent element minus border
        height: 20px;
        border-bottom: unset;
        border-left: 3px solid var(--bg-color-primary);
        border-bottom-right-radius: unset;
        border-top-left-radius: 6px;
    }
}

@media (max-width: 700px) {
    .skills-box {
        width: 400px;
    }
    .triangle-container {
        width: 450px;
    }
    .triangle {
        border-width: 60px 225px 0 225px;
    }
}

@media (max-width: 600px) {
    .skills-box {
        width: 380px;
    }
    .triangle-container {
        width: 400px;
    }
    .triangle {
        border-width: 60px 200px 0 200px;
    }
    .triangle-text {
        padding: 28px;
    }
    .skills-box-content table {
        padding: 28px !important;

        tr {
            height: 40px !important;
        }
    }
}

@media (max-width: 500px) {
    .skills-box {
        width: 350px;
    }
    .triangle-container {
        width: 350px;
    }
    .triangle {
        border-width: 60px 175px 0 175px;
    }
    .triangle-text {
        padding: 24px;
    }
}

@media (max-width: 400px) {
    .skills-box {
        width: 300px;
    }
    .skills-box-content {
        margin: 12px !important;

        table {
            padding: 20px !important;
        }
    }
    .triangle-container {
        width: 300px;
    }
    .triangle {
        border-width: 40px 150px 0 150px;
    }
    .triangle-text {
        padding: 20px;
    }
}

@media (max-width: 350px) {
    .skills-box {
        width: 250px;
    }
    .skills-box-content {
        font-size: 16px !important;
    }
    .triangle-container {
        width: 250px;
    }
    .triangle {
        border-width: 40px 125px 0 125px;
    }
    .triangle-text {
        font-size: 16px !important;
    }
}

@media (max-width: 300px) {
    .skills-box {
        width: 220px;
    }
    .skills-box-content table {
        padding: 12px !important;
    }
    .triangle-container {
        width: 220px;
    }
    .triangle {
        border-width: 40px 110px 0 110px;
    }
    .triangle-text {
        padding: 12px;
    }
}
