h2 {
    margin-bottom: 32px !important;
}

.skills-box {
    width: 500px;
    background-image: url(../../assets/img/skills_image.jpg);
    border-radius: 12px;
    margin-right: 40px;
    margin-left: -20px;
    border: 3px solid var(--bg-color-primary);
    opacity: 0;
    transform: translateY(-50px);

    .skills-box-content {
        height: 100%;
        width: 100%;
        border-radius: 12px;
        margin: 20px;
        background-color: var(--bg-color-primary);
        border: 3px solid var(--color-primary);

        table {
            height: 100%;
            padding: 32px;

            tr {
                height: 52px;
            }

            td:first-child {
                padding-right: 24px;
            }

            td:nth-child(2) {
                width: 100%;
            }
        }
    }
}

.skill-bar-max {
    height: 6px;
    width: 100%;
    background-color: rgb(69, 77, 97);
}

.skill-bar-value {
    height: 6px;
}

.growing-skill-bar {
    height: 6px;
    background-color: var(--color-secondary);
    width: 0;
    z-index: 10;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 300px 450px 300px 0;
    border-color: transparent var(--bg-color-primary) transparent transparent;
    position: relative;
    opacity: 0;
    transform: translateX(100px);
}

.triangle-text {
    position: absolute;
    left: 160px;
    bottom: -140px;
    width: 280px;
    text-align: right;
}

.triangle-image-box {
    position: absolute;
    top: -300px;
    left: 450px;
    height: 600px;
    width: 50px;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

    img {
        width: 100%;
        height: 700px;
        object-fit: cover;
        object-position: right;
    }
}

/* ANIMATIONS AND KEYFRAMES */

.fillSkillBar {
    animation: fillSkillBar 2s ease-in-out forwards;
}

@keyframes fillSkillBar {
    0% {
        width: 0;
    }
    25% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* RESPONSIVE DESIGN */

@media (max-width: 1200px) {
    .section-content {
        flex-direction: column;
    }
    .skills-box {
        order: 2;
    }
    .triangle {
        order: 1;
        border-width: 450px 300px 0 300px;
        border-color: var(--bg-color-primary) transparent transparent transparent;
        transform: translateX(0) translateY(-50px);
    }
    .triangle-image-box {
        width: 600px;
        height: 20px;
        border-bottom-right-radius: unset;
        border-top-left-radius: 6px;
        top: -470px;
        left: -300px;
    }
    .triangle-text {
        left: -150px;
        bottom: 210px;
        width: 300px;
        text-align: center;
    }
}

@media(max-width: 700px) {
    .triangle {
        border-width: 400px 250px 0 250px;
        margin-bottom: 16px;
    }
    .triangle-image-box {
        width: 500px;
        top: -420px;
        left: -250px;
    }
    .triangle-text {
        left: -135px;
        bottom: 190px;
        width: 270px;
    }
    .skills-box {
        width: 400px;
    }
}

@media(max-width: 600px) {
    .triangle {
        border-width: 300px 200px 0 200px;
    }
    .triangle-image-box {
        width: 400px;
        top: -320px;
        left: -200px;
    }
    .triangle-text {
        bottom: 80px;
    }
    .skills-box {
        width: 350px;
    }
}