<section id="skills" class="bg-2">

    <div class="section-heading">
        <h2>IT SKILLS</h2>
    </div>

    <div class="section-content">
        <div animateOnScroll animationName="fadeInSlideUp" class="skills-box">
            <div class="skills-box-content">
                <table>
                    <tbody>
                        <tr *ngFor="let skillName of skillsNames; let i = index">
                            <td>{{ skillName }}</td>
                            <td>
                                <div class="skill-bar-max">
                                    <div [ngStyle]="setBarWidth(i)" class="skill-bar-value">
                                        <div animateOnScroll animationName="fillSkillBar" class="growing-skill-bar">
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Animations window.innerWidth > 1200px -->
        <div *ngIf="!globals.middleScreenWidthReached" animateOnScroll animationName="fadeInSlideLeft" class="triangle">
            <div class="triangle-text">
                Started as a totally coding-newbie, I became part of the Developer Academy and its online
                coaching in the middle of January 2021. In 4 months of full time and from then in part-time, I got the
                chance to learn to code and — in particular — learn to love coding!
            </div>
            <div class="triangle-image-box">
                <img src="assets/img/skills_image.jpg" alt="water">
            </div>
        </div>

        <!-- Animations window.innerWidth <= 1200px -->
        <div *ngIf="globals.middleScreenWidthReached" animateOnScroll animationName="fadeInSlideDown" class="triangle">
            <div class="triangle-text">
                Started as a totally coding-newbie, I became part of the Developer Academy and its online
                coaching in the middle of January 2021. In 4 months of full time and from then in part-time, I got the
                chance to learn to code and — in particular — learn to love coding!
            </div>
            <div class="triangle-image-box">
                <img src="assets/img/skills_image.jpg" alt="water">
            </div>
        </div>


    </div>
</section>

<!-- TODO: Mit For-Schleife Einträge anzeigen, Daten im Array in der .ts speichern. Alles animieren. -->