<div class="wrapper">
    <app-header [darkMode]="router.url !== '/'"></app-header>
    <app-full-body-picture *ngIf="router.url == '/'"></app-full-body-picture>
    <app-start-button></app-start-button>
    <app-slideshow></app-slideshow>
</div>

<app-navbar></app-navbar>

<div class="wrapper">
    <app-about-me></app-about-me>
    <app-skills></app-skills>
    <app-projects></app-projects>
    <app-contact></app-contact>
    <app-footer (onClickLegalNotice)="openLegalNotice()"></app-footer>
    <app-legal-notice *ngIf="globals.legalNoticeShown"></app-legal-notice>
</div>


<!-- <div [class.container]="router.url !== '/'">
    <router-outlet></router-outlet>
</div> -->