<div class="wrapper">
    <app-header></app-header>
    <app-full-body-picture></app-full-body-picture>
    <app-start-button></app-start-button>
    <app-slideshow></app-slideshow>
</div>

<app-navbar></app-navbar>

<div class="wrapper">
    <app-about-me></app-about-me>
    <app-skills></app-skills>
    <app-projects></app-projects>
    <app-contact></app-contact>
    <app-footer (onClickLegalNotice)="openLegalNotice()" (onClickDataProtection)="openDataProtection()"></app-footer>
    <app-legal-notice *ngIf="globals.legalNoticeShown"></app-legal-notice>
    <app-data-protection *ngIf="globals.dataProtectionShown"></app-data-protection>
</div>