/* You can add global styles to this file, and also import other style files */

//Global SCSS variables
:root {
    --navbar-height: 50px;
    --color-primary: rgb(0, 255, 242);
    --bg-color-primary: rgb(10, 22, 65);
    --bg-color-secondary: darkcyan;
    --main-font-size: 20px;
    --section-heading-hight: 120px;
}

body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    color: white;
    background-color: var(--bg-color-primary); 
    font-size: var(--main-font-size);
}

a {
    color: white;
    text-decoration: none;
}

h2 {
    font-size: 2em !important;
    margin-bottom: 0 !important;
}

.bg-1 {
    background-color: var(--bg-color-primary); 
}

.bg-2 {
    background-color: var(--bg-color-secondary); 
}

.container {
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

section {
    height: calc(100vh - var(--navbar-height));
}

.section-heading {
    height: var(--section-heading-hight);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--navbar-height) - var(--section-heading-hight));
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px rgb(46, 48, 146) inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill
{
 -webkit-text-fill-color: white !important;
}

